{% extends "base.html" %}
{% block header %}
<header>
  <nav class="navbar navbar-expand-md" aria-label="Navbar">
    <div class="container-fluid">
      <div class="row w-100 align-items-center gx-2">
        <!-- Website Name & Logo -->
        <div class="col-3 col-md-2">
          <a class="navbar-brand header-navbar" href="{{ url_for('home') }}">
            <img src="{{ url_for('static', filename='assets/img/rep_talk_logo.png') }}"
                 alt="Logo" width="24" height="24"
                 class="d-inline-block align-text-top">
            RepTalk
          </a>
        </div>

        <!-- Search Bar -->
        <div class="col-6 col-md-8">
          <form class="w-100" action="{{ url_for('home') }}" method="GET">
            <input class="form-control fw-semibold input-form" type="search" name="search"
                   placeholder="Search Posts" aria-label="Search">
          </form>
        </div>

        <!-- Profile / Sign In -->
        <div class="col-3 col-md-2 d-flex justify-content-end align-items-center">
          <div class="d-none d-md-block">
            <div class="collapse navbar-collapse gap-4" id="navbarButtons">
              <ul class="navbar-nav ms-auto d-flex flex-row align-items-center gap-2">
                {% if not current_user.is_authenticated: %}
                <li class="nav-item">
                  <a class="btn btn-primary" href="{{ url_for('login') }}">Sign In</a>
                </li>
                {% else: %}
                <li class="nav-item">
                  <a class="btn btn-outline-secondary fixed-height-btn"
                     href="{{ url_for('create_post') }}"
                     style="height: 38px; overflow: hidden;">✚ Create Post</a>
                </li>
              </ul>
              <div class="dropdown ms-auto">
                <button class="dropdown-toggle profile-button" type="button" id="profileDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                  <img src="{{ url_for('static', filename='assets/profile_images/' + current_user.username + '.png') }}"
                    alt="Profile Image" class="rounded-circle" width="40px" height="40px"
                    onerror="this.onerror=null; this.src='{{ url_for('static', filename='assets/profile_images/default-profile.png') }}'">
                </button>
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="profileDropdown">
                  <li><a class="dropdown-item" href="{{ url_for('profile', profile_username=current_user.username) }}">View Profile</a></li>
                  <li><a class="dropdown-item" href="{{ url_for('edit_profile') }}">Edit Profile</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="{{ url_for('logout') }}">Logout</a></li>
                </ul>
              </div>
              {% endif %}
            </div>
          </div>

          <!-- Hamburger (Visible on mobile) -->
          <button class="btn navbar-toggler" type="button" id="navbarDropdownMenuButton"
                  data-bs-toggle="dropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <!-- Dropdown Menu (Mobile only) -->
          <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownMenuButton">
            {% if not current_user.is_authenticated %}
            <li><a class="dropdown-item" href="{{ url_for('login') }}">Sign In</a></li>
            <li><a class="dropdown-item" href="{{ url_for('register') }}">Register</a></li>
            {% else %}
            <li><a class="dropdown-item" href="{{ url_for('create_post') }}">✚ Create Post</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="{{ url_for('profile', profile_username=current_user.username) }}">View Profile</a></li>
            <li><a class="dropdown-item" href="{{ url_for('logout') }}">Logout</a></li>
            {% endif %}
          </ul>
        </div>
      </div>
    </div>
  </nav>
</header>
{% endblock %}