{% extends "base.html" %}
{% block title %}Rep Talk{% endblock %}
{% block header %} {% include "header.html" %} {% endblock %}
{% block content %}

<!--Hotjar Testing Script-->
<script>
    (function(h,o,t,j,a,r){
        h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
        h._hjSettings={hjid:6469083,hjsv:6};
        a=o.getElementsByTagName('head')[0];
        r=o.createElement('script');r.async=1;
        r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
        a.appendChild(r);
    })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
</script>

<div class="container mt-4">
  <div class="row justify-content-center align-items-start">
    <!-- Left Sidebar -->
    <div class="col-md-3 d-none d-md-block rounded-3 post-card sticky-sidebar small-md-text">
      {% for category in categories %}
        <div class="mb-3">
          <img src="{{ url_for('static', filename='assets/category_images/dark/' ~ category.id ~ '.png') }}"
           alt="{{ category.name }} icon" data-bs-theme="dark" class="category-image">
          <img src="{{ url_for('static', filename='assets/category_images/light/' ~ category.id ~ '.png') }}"
           alt="{{ category.name }} icon" data-bs-theme="light" class="category-image">

          <a href="{{ url_for('home') if selected_category == category.name else url_for('home', category=category.name) }}"
             class="custom-link category-title fw-semibold">
            {{ category.name }}
          </a>

          <p class="text-muted category-description mt-1 {% if category.name != 'Health & Wellness' %} mb-1 {% endif %}">
            {{ category.description }}
          </p>
          {% if category.name != 'Health & Wellness' %} <hr> {% endif %}
        </div>
      {% endfor %}
    </div>

    <!-- Posts -->
    <div class="col-12 col-md-6">
      {% for post in all_posts %}
      {% set vote_value = votes_by_post.get(post.id, 0) %}
      <div id="redirect-{{ post.id }}" class="d-flex mb-3 shadow-sm post-card">

        <!-- Post content -->
        <div class="card-body p-3 w-100">
          <h5 class="card-title mb-2 d-flex justify-content-between align-items-center flex-wrap">
            <span class="me-2">{{ post.title }}</span>
          </h5>

          <div class="d-flex justify-content-start">
            <p class="category-label mb-2 category-{{ post.category.id }}">{{ post.category.name }}</p>
          </div>

          <p class="card-subtitle mb-2 text-muted">
            Posted by
            <a class="text-muted custom-link" href="{{ url_for('profile', profile_username=post.author.username) }}">
              {{ post.author.username }}</a>
            <span> on</span>
            <small class="text-muted">{{ post.date.strftime('%B %d, %Y') }}</small>
          </p>

          <p class="card-text text-secondary mb-3">
            {{ post.body[:200]|striptags }}
            {% if post.body|length > 200 %} ... {% endif %}
          </p>

          <div class="d-flex justify-content-between align-items-center">
            <div class="d-flex align-items-center px-3 py-1 rounded-pill upvote-section">
              <form method="POST" action="{{ url_for('vote_post', post_id=post.id, action='upvote') }}">
                <button type="submit" class="btn-xl p-0 border-0 bg-transparent"
                  style="color: {% if vote_value == 1 %}var(--button-color){% else %}var(--upvote-button-default-color){% endif %};">
                  ▲
                </button>
              </form>

              <div>{{ post.score }}</div>

              <form method="POST" action="{{ url_for('vote_post', post_id=post.id, action='downvote') }}">
                <button type="submit" class="btn-xl p-0 border-0 bg-transparent"
                  style="color: {% if vote_value == -1 %}deepskyblue{% else %}var(--upvote-button-default-color){% endif %};">
                  ▼
                </button>
              </form>
            </div>

            <div class="d-flex align-items-center mt-2">
              <small class="text-muted">{{ post.comments|length }} comments</small>
            </div>
          </div>

          <a href="{{ url_for('view_post', post_id=post.id) }}" class="stretched-link"></a>
        </div>
      </div>
      {% endfor %}
    </div>

    <!-- Right Sidebar -->
    <div id="right-sidebar" class="col-md-3 d-none d-md-block rounded-3 post-card sticky-sidebar small-md-text">
      <!-- Trending Posts -->
      <div class="card mb-3 shadow-sm post-card">
        <div class="card-body">
          <h5 class="mb-2 text-center section-header">
            <img src="{{ url_for('static', filename='assets/img/dark/trending-posts.png') }}"
                 alt="Trending Icon" data-bs-theme="dark" class="sidebar-icon">
            <img src="{{ url_for('static', filename='assets/img/light/trending-posts.png') }}"
                 alt="Trending Icon" data-bs-theme="light" class="sidebar-icon">
              Trending Posts
          </h5>
          <ol class="list-unstyled">
            {% for post, score in trending_posts %}
            <li class="mb-3">
              <div class="d-flex align-items-center">
                <span class="me-1">{{ loop.index }}.</span>
                <a href="{{ url_for('view_post', post_id=post.id) }}"
                   class="custom-link text-decoration-none text-truncate d-inline-block"
                   style=" max-width: 100%;">
                  {{ post.title }}
                </a>
              </div>
            </li>
            {% endfor %}
          </ol>
        </div>
      </div>

      <!-- Forum Stats -->
      <div class="card mb-3 shadow-sm post-card">
        <div class="card-body">
          <h5 class="card-title mb-2 text-center section-header">
            <img src="{{ url_for('static', filename='assets/img/dark/forum-stats.png') }}"
                 alt="Trending Icon" data-bs-theme="dark" class="sidebar-icon">
            <img src="{{ url_for('static', filename='assets/img/light/forum-stats.png') }}"
                 alt="Trending Icon" data-bs-theme="light" class="sidebar-icon">
              Forum Stats
          </h5>
          <ul class="list-unstyled">
            <li class="d-flex align-items-center justify-content-between mb-2">
              <div class="d-flex align-items-center">
                <img src="{{ url_for('static', filename='assets/img/dark/user.png') }}"
                     alt="Users" data-bs-theme="dark" width="20" class="me-2">
                <img src="{{ url_for('static', filename='assets/img/light/user.png') }}"
                     alt="Users" data-bs-theme="light" width="20" class="me-2">
                <span>Users:</span>
              </div>

              <span class="me-2">{{ forum_stats.users }}</span>
            </li>
            <li class="d-flex align-items-center justify-content-between mb-2">
              <div class="d-flex align-items-center">
                <img src="{{ url_for('static', filename='assets/img/dark/post.png') }}"
                     alt="Posts" data-bs-theme="dark" width="20" class="me-2">
                <img src="{{ url_for('static', filename='assets/img/light/post.png') }}"
                     alt="Posts" data-bs-theme="light" width="20" class="me-2">

                <span>Posts:</span>
              </div>
              <span class="me-2">{{ forum_stats.posts }}</span>
            </li>
            <li class="d-flex align-items-center justify-content-between">
              <div class="d-flex align-items-center">
                <img src="{{ url_for('static', filename='assets/img/dark/comment.png') }}"
                     alt="Comments" data-bs-theme="dark" width="20" class="me-2">
                <img src="{{ url_for('static', filename='assets/img/light/comment.png') }}"
                     alt="Comments" data-bs-theme="light" width="20" class="me-2">

                <span>Comments:</span>
              </div>
              <span class="me-2">{{ forum_stats.comments }}</span>
            </li>
          </ul>
        </div>
      </div>

      <!-- Poll -->
      {% if poll %}
      <div class="card mb-1 shadow-sm post-card">
        <div class="card-body">
          <h5 class="card-title mb-2 text-center section-header">
            <img src="{{ url_for('static', filename='assets/img/dark/poll.png') }}"
                 alt="Trending Icon" data-bs-theme="dark" class="sidebar-icon">
            <img src="{{ url_for('static', filename='assets/img/light/poll.png') }}"
                 alt="Trending Icon" data-bs-theme="light" class="sidebar-icon">
              {{ poll.question }}
          </h5>
          <form method="POST" action="{{ url_for('vote_poll', poll_id=poll.id) }}">
            {% for option in options %}
              <div class="form-check custom-radio mb-2">
                <input class="form-check-input" type="radio" name="option_id" id="option{{ option.id }}" value="{{ option.id }}" required>
                <label class="form-check-label" for="option{{ option.id }}">
                  {{ option.text }}
                </label>
                {% if user_has_voted %}
                <div class="progress mt-1" style="height: 15px;">
                  <div class="progress-bar" role="progressbar" style="width: {{ (option.votes|length / total_votes * 100)|round(0) }}%;"
                       aria-valuenow="{{ option.votes|length }}" aria-valuemin="0" aria-valuemax="{{ total_votes }}">
                    {{ (option.votes|length / total_votes * 100)|round(0) }}%
                  </div>
                </div>
                {% endif %}
              </div>
            {% endfor %}
            {% if user_has_voted %}
            <p class="text-muted text-center mt-2 mb-0">You already voted</p>
            {% else %}
            <div class="text-center">
              <button type="submit" class="btn btn-primary mt-2">Vote</button>
            </div>
            {% endif %}
          </form>
        </div>
      </div>
      {% endif %}
    </div>
  </div>
</div>

<!-- Mobile Sidebar-->
<div id="mobileSidebar" class="mobile-sidebar d-flex flex-column justify-content-center">
  <div class="mobile-sidebar-content">
    <!-- Content is duplicated via Javascript and is the same as the Right Sidebar -->
  </div>
</div>

{% endblock %}
{% block footer %}
{% include "footer.html" %}
{% endblock %}